@import "tailwindcss";



@theme {
  --color-primary: #2563EB;
  --color-secondary: #10B981;
  --color-background: #0F172A;
  --color-alert: #DC2626;
  --color-text: #F8FAFC;
  --color-success: #4CAF50;
  --color-warning: #FFEB3B;
  --color-info: #2196F3;
  --color-neutral: #B0BEC5;
  --color-shadow: #1E293B;
  --font-Inter: 'Inter';
  --font-Montserrat: 'Montserrat';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  font-family: 'Inter';
  background-color: #0F172A;
  display: flex;
}


 /* :root {
  --primary-color: #2563EB;
  --secondary-color: #10B981;
  --background-color: #0F172A;
  --alert-color: #DC2626;
  --text-color: #F8FAFC;
  --success-color: #4CAF50;
  --warning-color: #FFEB3B;
  --info-color: #2196F3;
  --neutral-color: #B0BEC5;
  --shadow-color: #1E293B;
  --font-Inter: 'Inter';
  --font-Montserrat: 'Montserrat';
} */

/*
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #2563EB;
    --secondary-color: #10B981;
    --background-color: #0F172A;
    --alert-color: #DC2626;
    --text-color: #F8FAFC;
    --success-color: #4CAF50;
    --warning-color: #FFEB3B;
    --info-color: #2196F3;
    --neutral-color: #B0BEC5;
    --shadow-color: #1E293B;
  }

  @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

